.map-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #5271ff;
  z-index: -1;
}
.map-page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.worlds-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.world-button {
  padding: 10px 20px;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px white);
  }
  50% {
    filter: drop-shadow(0 0 20px white);
  }
  100% {
    filter: drop-shadow(0 0 5px white);
  }
}

.world-overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: glow 2s infinite;
  transition: transform 0.3s, filter 0.3s;
}

.world-overlay:hover {
  animation: glow 2s infinite, pulse 1s infinite;
}

.map-title {
  position: absolute;
  top: 5%;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.map-title h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.hovered-world {
  font-size: 20px;
  opacity: 0.8;
  transition: opacity 0.3s;
}
